/* Main section */
.main-banner {
    min-height: 860px;
    background: url("../images/main-banner.png") center center / cover no-repeat;
    background-position: center center;
}

.main-section {
    padding: 7.5rem 1.87rem;
    display: flex;
    justify-content: space-between;
}

.main-section__image {
    text-align: right;
}

.main-section__welcome {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    letter-spacing: 2px;
    color: #797979;
}

.main-section__introduction {
    margin-top: 1.25rem;
    font-size: 3.75rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
    color: #05364E;
}

.main-section__position {
    color: #05364E;
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 1.25rem;
}

.main-section__social-networks a {
    color: #8FA1AA;
    margin-right: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    display: inline-block;
}

.main-section__social-networks a:hover i {
    color: #1c44e4;
    transition: all 0.3s ease-in-out;
}

.main-section__action {
    margin-top: 1.87rem; 
}

/* Statistics section */
.statistics {
    display: flex;
}

.statistics__item {
    width: 150px;
    background-color: #f8faff ;
    text-align: center;
    padding: 0.32rem 0.625rem;
    margin-right: 1.25rem;
}

.statistics__number {
    font-size: 1.69rem;
    margin-bottom: 0.32rem;
    background: linear-gradient(90deg, rgb(19, 69, 230) 0%, rgb(237, 35, 159) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statistics__title {
    font-size: 1rem;
    font-weight: 300;
    color: #797979;
}

/* About me section */
.about-me {
    padding: 6.25rem 0;
    display: flex;
    align-items: center;
}

.about-me > div {
    flex: 1;
}

.about-me__image img {
    width: 90%;
}

.about-me__description {
    font-size: 0.87rem;
    font-weight: 300;
    color: #797979;
    line-height: 1.69rem;
}

.about-me__action {
    margin-top: 2.5rem;
}

/* Services section styles */
.services {
    padding-top: 6.25rem;
}

.services-cards {
    display: flex;
    justify-content: space-between;
}

.services-card {
    padding: 3.75rem 1.87rem;
    background-color: #F8FAFF;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
    margin-top: 1.87rem;
    transition: all 0.4s ease 0s;
}

.services-card__title {
    color: #05364D;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1.25rem;
    text-transform: uppercase;
}

.services-card__description {
    font-size: 0.87rem;
    line-height: 1.69rem;
    font-weight: 300;
    color: #797979;
}

.services-card__link {
    font-size: 0.81rem;
    font-weight: 500;
    color: #05364D;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 1.25rem;
    display: inline-block;
}

.services-card:hover {
    background-color: #5f30ff;
}

.services-card:hover .services-card__title,
.services-card:hover .services-card__description,
.services-card:hover .services-card__link {
    color: #FFFFFF;
}

/* Clients section styles */
.clients {
    padding-top: 6.25rem;
}

.client-item {
    display: flex;
    align-items: center;
}

.client-item > div {
    flex: 1;
    box-sizing: border-box;
}

.client-item__image img {
    width: 100%;
}

.client-item__info {
    padding-left: 3.12rem;
}

.client-item__name {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.client-item__position {
    font-size: 0.87rem;
    font-weight: 300;
    color: #5d6d75;
}

.client-item__review {
    font-size: 0.87rem;
    font-weight: 300;
    color: #5d6d75;
    line-height: 1.69rem;
}

.client-item__rate {
    color: #FFD805;
}

/* Portfolio section styles */
.portfolio {
    padding-top: 6.25rem;
}

.portfolio-filters {
    list-style: none;
    padding-left: 0;
    margin-top: 3.125rem;
}

.portfolio-filters li {
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 0.81rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.portfolio-filters li:hover,
.portfolio-filters li.active {
    color: rgb(19, 69, 230); 
}

.portfolio-items { 
    position: relative;
    margin-top: 3.125rem;
}

.portfolio-item {
    transition: all 0.4s ease 0s;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    margin: -0.625rem;
    box-sizing: border-box;
}

.portfolio-item-1 {
    padding-left: 0;
}

.portfolio-item-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.portfolio-item-3 {
    position: absolute;
    margin-top: 10px;
    top: 322px;
    right: 0;
}

.portfolio-item__image {
    width: 100%;
}

.portfolio-item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease 0s;
    z-index: 1;
}

.portfolio-item__info {
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: all 0.4s ease 0s;
}

.portfolio-item__info a {
    color: white;
    text-decoration: none;
}

.portfolio-item:hover .portfolio-item__overlay {
    visibility: visible;
    top: 20px;
    left: 20px; 
    background: rgba(19, 69, 230, 0.9);
}

.portfolio-item:hover .portfolio-item__info {
    visibility: visible;
    bottom: 24px;
    left: 60px;
    opacity: 1;
}

/* Blog section styles */
.blog {
    padding-top: 6.25rem;        
}

.blog-items {
    margin-top: 3.125rem;
}

.blog-items {
    display: flex;
    justify-content: space-between;
}

.blog-item {
    overflow: hidden;
    margin-right: 3%;
    box-sizing: border-box;
    background-color: #f8faff;
}

.blog-item:hover {
    box-shadow: rgba(5, 54, 77, 0.1) 0px 10px 20px;
    background-color: white;
}

.blog-item__image {
    overflow: hidden;
}

.blog-item__image img {
    width: 100%;
    vertical-align: middle;
}

.blog-item:hover .blog-item__image img {
    transform: scale(1.1);
    transition: all 0.4s ease 0s;
}

.blog-item__info {
    margin: 30px;
    color: #797979;
}

.blog-item__info span {
    margin-right: 1.87rem;
    font-size: 0.87rem;
    font-weight: 300;
    cursor: pointer;
}

.blog-item__info i {
    margin-right: 0.31rem;
}

.span-1:hover, .span-2:hover {
    color: rgb(19, 69, 230);
}

.blog-item__title {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.94rem;
    font-weight: 700;
    color: #05364D;
    cursor: pointer;
}

.blog-item__description {
    line-height: 1.69rem;
    font-weight: 300;
    font-size: 0.94rem;
}

.blog-item__learn-more {
    position: relative;
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364D;
    cursor: pointer;
}

.blog-item__learn-more:hover {
    color: #ed239f;
}

.blog-item__learn-more:before {
    position: relative;
    content: '';
    width: 50px;
    height: 2px;
    left: 0;
    bottom: -2px;
    background: linear-gradient( 90deg,#1345e6 0%,#ed239f 100%);
}

/* Partners section styles */
.partners {
    padding-top: 6.25rem;
    display: flex;
    justify-content: space-between;
}

.partner {
    padding: 0 1.87rem;
}

@media only screen and (max-width: 991px) {
    /* Main section */
    .main-section__image {
        display: none;
    }

    .main-section > div {
        width: 100%;
    }

    /* Statistics section */
    .statistics {
        padding-top: 1rem;
        text-align: center;
        justify-content: center;
    }

    /* About-me section */
    .about-me {
        padding: 1.5rem 0;
    }

    .about-me > div {
        width: 100%;
    }

    .about-me__image {
        display: none;
    }

    /* Services section*/
    .services {
        padding: 1.5rem 0;
    }

    .services-cards {
        display: flex;
        flex-wrap: wrap;
    }

    .services-card {
        flex-basis: 45%;
        margin-bottom: 20px;
    }
    
    /* Clients */
    .clients {
        padding: 1.5rem 0;
    }

    .client-item {
        flex-direction: column;
    }

    .client-item > div {
        width: 100%;
        float: none;
    }

    .client-item__info {
        padding-left: 0;
    }

    /* Portfolio section */
    .portfolio {
        padding: 1.5rem 0;
    }

    /* Blog */
    .blog {
        padding: 1.5rem 0;
    }

    .blog-items {
        flex-wrap: wrap;
    }

    .blog-item {
        flex-basis: 45%;
        margin-bottom: 20px;
    }

    /* Partners */
    .partners {
        padding: 1.5rem 0;
    }

    .partners {
        flex-direction: column;
    }

    .partner {
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }
} 

@media only screen and (max-width: 767px) {
    /* Main section */
    .main-banner {
        background: none;
        min-height: 0;
    }

    .main-section__action {
        display: none;
    }

    .main-section__introduction {
        font-size: 3rem;
    }

    /* Statistics section */
    .statistics {
        flex-direction: column;
    }

    .statistics__item {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        box-sizing: border-box;
    }

    /* Services section*/
    .services-cards {
        flex-direction: column;
    }

    .services-card {
        width: 100%;
        margin-right: 0;
    }

    /* Portfolio section */
    .portfolio-item {
        width: 100%;
    }

    .portfolio-item-2,
    .porfloio-item-3 {
        position: static;
    }

    /* Blog */
    .blog-item {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}